<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>150694088229-9evio4p8sso82q2efjtnpc3sbe0ciiq9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.150694088229-9evio4p8sso82q2efjtnpc3sbe0ciiq9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>150694088229-a82a8ah2cllu79cjnkpe150pf6gah764.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCgkDcI_Sw7skGPzXNu2Q9ZzTQkp4-OLmM</string>
	<key>GCM_SENDER_ID</key>
	<string>150694088229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shamil.flukefy.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flukefy-76608</string>
	<key>STORAGE_BUCKET</key>
	<string>flukefy-76608.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:150694088229:ios:8897bb37a7e63029bcb9cc</string>
</dict>
</plist>